:root {
    --primary-color: #FDC000;
    --secondary-color: #00C3B5;
    --tertiary-color: #F85F73;
    --bg-light: #F5F2EA;
    --text-dark: #333333;

}

body {
    margin: 0;
    color: var(--text-dark);
}